*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: paleturquoise;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stopwatch{
    height: 40vh;
    width: 40vw;
  
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
   box-shadow: 0 10px 10px rgba(0,0,0,0.8);
   
}
.stopwatch h1{
    font-size: 55px;
   color: wheat;
   margin-top: 10%;
    text-align: center;
    
}
.btns{
    margin-top: 10%;
    display: flex;
   /* gap: 20%; */
   justify-content: space-around;
}
.btns span{
    height: 55px;
    width:55px;
    cursor: pointer;
}
.btns span img{
    height: 55px;
    width: 55px;
}
.btns span:nth-child(2){
    height: 75px;
    width: 75px;
}
.btns span:nth-child(2) img{
    height: 75px;
    width: 75px;
}
@media (max-width:431px){
    .stopwatch{
        height: 50vh;
        width: 90vw;
          background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    }
    .stopwatch h1{
        font-size: 30px;
    }
    .btns{
       
       justify-content:space-around;
    }
}